.awesome {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: 5px solid;
  padding: 2rem;

  /* the important extrinsic width */
  width: 320px;
}

/* intrinsic width=min-content for data-sizing=intrinsic */
.awesome[data-sizing="intrinsic"] {
  width: min-content;
}
