/* decorative styles */
body,
.wrapper {
  display: grid;
  place-items: center;
}

.grower {
  width: 200px;
  height: 75px;
  background-color: lightseagreen;
  position: relative;
}

.flow:last-child {
  text-align: center;
}

.flow + .flow {
  margin-top: 2rem;
}
