.sample {
  writing-mode: horizontal-tb;
}

.sample > * {
  border: 1px solid var(--color-primary);
  background: var(--color-primary-x-light);
  max-width: 20rem;
}

.sample > * + * {
  margin-block-start: 1rem;
}

.sample p {
  padding: 1rem;
  background: white;
}

/* first child div > p 
.sample > div:first-child > p {
  margin-top: 1rem;
}
*/
/* last child div > p 
.sample > div:last-child > p {
  margin-block-start: 1rem;
}
*/

/* div.sample--margin-top > p */
#sample--margin-top > p {
  margin-top: 1rem;
}

/* div.sample--margin-block-start > p */
#sample--margin-block-start > p {
  margin-block-start: 1rem;
}
