.circle {
  width: 400px;
  aspect-ratio: 1;
  clip-path: circle();
}

.polygon {
  width: 450px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.circle > img,
.polygon > img {
  width: 100%;
}
