label {
  display: block;
}

.expander {
  width: 200px;
  height: 80px;
  background: lightseagreen;
  position: relative;
  margin-inline: auto;

  animation-name: expand;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes expand {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.75);
    background: darkturquoise;
  }
}
