html,
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
main {
  display: grid;
  place-items: center;
  width: 100%;
}

header {
  height: 15vh;
  border-bottom: 1px solid rebeccapurple;
}

main {
  height: 85vh;
}

header > h1 {
  font-weight: normal;
  color: rebeccapurple;
}

.pulser {
  width: 50px;
  height: 50px;
  background: rebeccapurple;
  border-radius: 50%;
  position: relative;
}
