/* text-shadow style for .text-shadow-element */
.text-shadow-element {
  text-shadow: 3px 3px 3px hotpink;
}

/* presentational styles for .text-shadow-element */
.text-shadow-element {
  --flow-space: 2rem;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  color: var(--color-primary-dark);
  max-width: 40rem;
}

/* focus styling for .text-shadow-element */
.text-shadow-element:focus {
  outline: 2px dashed var(--color-primary-dark);
  outline-offset: 10px;
}
