.calc-element {
  width: calc(100% - 2rem);
  background-color: papayawhip;
  border: 1px solid gold;
}

.container {
  width: 100%;
  resize: both;
  overflow: hidden;
  border: 1px solid lightgrey;
}

/* Presentational styles */
.calc-element {
  font-weight: bold;
  padding: 1rem;
  max-width: none;
  margin: 0 auto;
}

code {
  font-weight: normal;
}

.container {
  display: grid;
  place-items: center;
  height: 150px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: max-content 3.5rem;
  place-items: center;
  grid-column-gap: 1rem;
}
