ul.inside {
  list-style-position: inside;
  padding-inline-start: 0px;
}

ul > li {
  background-color: plum;
}

article.flow {
  max-width: 40rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin-top: 2.5rem;
}

.list-container {
  margin-top: 0;
}

label {
  display: block;
  padding-top: 1.5rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 500px) {
  article.flow {
    grid-template-columns: 1fr;
  }
}
