:root {
  --border-image-repeat-value: stretch;
}

.border-element {
  border-image-source: url(../img/border-image-frame.jpg);
  border-image-slice: 61 58 51 48;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
}

.border-image-element {
  border: 1px solid;
  border-image: url(../img/border-image-source.webp);
  border-image-slice: 22 22 22 22;
  border-image-width: 20px 20px 20px 20px;
  border-image-repeat: stretch;
}

/* Presentational Styles */
.border-element {
  width: 600px;
  height: 300px;
}

.border-image-element {
  width: 100%;
  max-width: 400px;
  height: 250px;
}
