:root {
  --primary-color: #3c006b;
  --secondary-color: #9948d9;
  --additional-color: #daa9ff;
  --section-color: #ddd;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  letter-spacing: 0.03ch;
}

.intro {
  _width: 100%;
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  padding: 7rem 2rem 5rem 2rem;
}

.intro h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.1;
  max-width: 18ch;
}

.intro p {
  font-size: 1.15rem;
  max-width: 50ch;
}

.intro a {
  font-weight: 600;
  font-size: 1.65rem;
  color: currentColor;
}

.intro > * + * {
  margin-top: 1.5rem;
}

.section {
  background: linear-gradient(45deg, var(--section-color), transparent);
  padding: 3.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.gradient {
  aspect-ratio: 1;
  border: 1px solid black;
}

.gradient:first-of-type {
  background: conic-gradient(var(--primary-color), var(--additional-color));
}

.gradient:nth-of-type(2) {
  background: conic-gradient(
    gold 20deg,
    lightcoral 20deg 150deg,
    mediumturquoise 150deg 175deg,
    var(--additional-color) 175deg 225deg,
    var(--secondary-color) 225deg
  );
  border-radius: 50%;
  border: 10px solid var(--primary-color);
}

.gradient:nth-of-type(3) {
  background: repeating-linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-color) 30px,
    var(--additional-color) 30px,
    var(--additional-color) 60px
  );
}
