input {
  min-width: 320px;
  padding: 0.5rem 1rem;
  line-height: 1;
  font: inherit;
  border: 1px solid var(--color-mid);
  border-radius: 0.25rem;
}

input:invalid {
  border: 1px solid red;
}

input:invalid:focus {
  outline: 2px dotted red;
  outline-offset: 2px;
}

input:invalid ~ .info {
  color: red;
}

input:valid {
  border: 1px solid green;
}

input:valid:focus {
  outline: 1px dotted green;
  outline-offset: 1px;
}

input:valid ~ .info {
  color: green;
}

.info {
  font-size: 0.9rem;
  font-style: italic;
  margin-block-start: 0.5em;
}

button.button {
  padding: 0.75rem;
  border: none;
  border-radius: 0.15rem;
  background-color: blue;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-block-start: 1rem;
}

button.button:hover {
  background-color: darkblue;
}
