.demo {
  border: 2px solid darkred;
  border-radius: 0.5rem;
  background: mistyrose;
  max-width: 350px;
  overflow: hidden;
}

.demo > img {
  mix-blend-mode: normal;
  filter: brightness(110%);
}

label {
  display: block;
  width: max-content;
}

input[type="range"] {
  accent-color: var(--color-primary);
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-image: none;
  list-style-type: none;
  gap: 0.5rem;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

ul > li {
  margin-block: 0;
}
