/* p::first-letter */
p:first-of-type::first-letter {
  color: dodgerblue;
  float: left;
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 1;
  margin-inline-end: 0.25rem;
}

/* p::first-line */
p:nth-of-type(2)::first-line {
  color: goldenrod;
  font-weight: 600;
}

/* ::marker */
ul ::marker {
  content: "\002B  ";
  font-size: 1.5rem;
  font-weight: 600;
  color: dodgerblue;
}

ol ::marker {
  color: dodgerblue;
  font-size: 1.15rem;
  font-weight: 600;
}

ol {
  padding-left: 1rem;
}

article.flow + article.flow {
  margin-top: 2.25rem;
}
